name: CD Release

on:
  pull_request:
    branches: [ next ]
    types: [ closed ]


permissions:
  packages: write
  contents: write
  issues: write
  id-token: write
  actions: read


jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      semver: ${{ steps.get_semver.outputs.semver }}
    steps:
      - name: pull request rejected
        if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged != true
        run: |
          echo "âŒ PR was closed without a merge"
          exit 1

      # Set Semvar
      - run: echo "SEMVER=patch" >> $GITHUB_ENV

      - if: ${{ (github.event.pull_request.merged && contains(github.event.pull_request.labels.*.name, 'skip')) }}
        run: echo "SEMVER=skip" >> $GITHUB_ENV

      - if: ${{ (github.event.pull_request.merged && contains(github.event.pull_request.labels.*.name, 'patch')) }}
        run: echo "SEMVER=patch" >> $GITHUB_ENV

      - if: ${{ (github.event.pull_request.merged && contains(github.event.pull_request.labels.*.name, 'minor')) }}
        run: echo "SEMVER=minor" >> $GITHUB_ENV

      - if: ${{ (github.event.pull_request.merged && contains(github.event.pull_request.labels.*.name, 'major')) }}
        run: echo "SEMVER=major" >> $GITHUB_ENV

      - id: get_semver
        name: Set Output
        run: echo "semver=${{env.SEMVER}}" >> $GITHUB_OUTPUT


  pre_release:
    name: Create a New Pre-Release
    runs-on: ubuntu-latest
    needs: [ setup ]
    if: ${{ needs.setup.outputs.semver != 'skip' }}
    outputs:
      version: ${{ steps.release.outputs.version }}
    steps:
      - name: Make Release
        id: release
        uses: pagopa/github-actions-template/node-release@v1.13.1
        with:
          semver: ${{ needs.setup.outputs.semver }}
          github_token: ${{ secrets.BOT_TOKEN_GITHUB }}
          skip_ci: false
          prerelease: true


  deploy_uat:
    name: Deploy in UAT
    needs: [ setup, pre_release ]
    uses: ./.github/workflows/deploy_on_cdn.yml
    with:
      environment: 'uat'
    secrets: inherit

  integration_test:
    name: Integration Test
    needs: [ setup, deploy_uat ]
    uses: ./.github/workflows/ci_integration_test.yml
    with:
      environment: ${{ needs.setup.outputs.environment }}
    secrets: inherit

  deploy_prod:
    name: Deploy in PROD
    needs: [ setup, integration_test ]
    uses: ./.github/workflows/deploy_with_github_runner.yml
    with:
      environment: 'prod'
    secrets: inherit

  release:
    name: Create a New Release
    runs-on: ubuntu-latest
    needs: [ setup, deploy_prod ]
    if: ${{ needs.setup.outputs.semver != 'skip' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # required to make the script available for next step
      - name: Make Latest Release
        id: generate_notes
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const script = require('./.github/workflows/github_scripts/make_latest_release.js')
            await script({github, context, core})


    
    


